body{
	margin: 0;
	padding: 0;
	background: url(leaves.jpg);
	background-size: cover;
	background-attachment: fixed;
	background-position: center;
	font-family: 'Spartan', sans-serif;
	}

h1{
	margin-top: 50px;
	font-size: 28px;
	text-align:center;
	color: #ffd460;
	background: #a2663e;
	opacity: 0.9;
	}
.loginform{
	column-count: 1;
 	column-gap: 60px;
 	}
.loginform{
	width: 1100px;
	height: 450px;
	border-radius: 5%;
	background: #a2663e;
	opacity: 0.8;
	color: #ffd460;
    position: absolute;
	padding: 30px 40px;
	top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    box-sizing: border-box;
	}

.loginform p{
	margin: 20px;
	padding: 50px;
	color: #ffd460;
	}
.loginform input{
    width: 70%;
	margin-top: 5px;
	margin-bottom:3px;
	}	
.loginform button{
	background: #ffd460;
    color: #ffd460;
	width: 240px;
    height: 40px;
    font-size: 15px;
	border-radius: 15px;
	border: none;
    outline: none;
	margin-top:20px;
	font-family: 'Spartan', sans-serif;
	}
.loginform input[type = "text"]{
	border: none;
	background: transparent;
	color: #ffd460;
	border-bottom: 3px solid #ffd460;
	height: 30px;
	outline: none;
	margin-top: 5px;
	}

.loginform input[type = "password"]{
	border: none;
	background: transparent;
	color: #ffd460;
	border-bottom: 5px solid #ffd460;
	height: 30px;
	outline: none;
	margin-top: 5px;
	}
	
.loginform button{
	background: white;
    color: pink;
	width: 240px;
    height: 40px;
    font-size: 13px;
	border-radius: 15px;
	border: none;
    outline: none;
	}

.loginform button:hover{ 
    background: black;
    color:#ffd460;
    font-family: 'Optima', sans-serif;
	}
	
.loginform a{
	text-decoration:none;
	color: #ffd460;
	font-size: 15px;
	line-height:50px;
	margin-left: 8.8px;	
	}	

.loginform a:hover{
    color: #ffd460;
	}